<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Iulia Birleanu", "https://www.linkedin.com/in/iulia-birleanu-873921163/", class: "text-white" %></small>
  </div>
</footer> 